div.div {
    margin-left: 50px;
    max-width: 700px;
    background-color: black;
}

body {
    background-color: black;
    width: 1000px;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
    color: white;
    font-size: 50px;
}

p.stay {
    color: white;
    font-size: 20px;
}

div.footer {
    background-color: rgb(50, 50, 50);
    color: rgb(50, 50, 50);
    text-align: center;
    padding: 10px;
    margin-top: 80px;
    width: 1500px;
    height: 300px;
    font-size: 12px;
}

p.bottom {
    color: white;
    font-size: 15px;
    margin-top: 285px;
}

img.image {
    width: 400px;
    height: 400px;
    margin-top: -110px;
    margin-left: 860px;
}

img.image2 {
    width: 200px;
    height: 300px;
    margin-top: -300px;
    margin-left: 660px;
}