div.div {
    margin-left: 0px;
    max-width: 600px;
    margin-left: 0px;
    background-color: black;
}
body {
    background-color: black;

}
h1 {
    color: white;
}

p.stay {
    color: white;
}

div.footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px;
    margin-top: 415px;
    width: 1500px;
    height: 300px;
    font-size: 12px;
}

p.bottom {
    color: black;
    font-size: 15px;
    margin-top: 285px;
}

div.imagediv {
    margin-top: 30px;
    margin-right: 10px;
}

div.image2div {
    margin-top: 200px;
    margin-right: 100px
}

img.image {
    size: 20px;
}

img.image2 {
    size: 10px;
}